
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    margin-right: 10%;
}

.header{
    width:100%;
    display:flex;
    margin-top:2rem;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}
.links{
    width:600px;
    
    margin-right:1rem;
    display:flex;
    justify-content: space-evenly;
    font-size: 1rem;
    }
.home{
    margin-top: 1rem;
    text-decoration: none;
    color:black;
    
}
.about{
    margin-top: 1rem;
    text-decoration: none;
    color:black;
    
}
.products{
    margin-top: 1rem;
    text-decoration: none;
    margin-right:1rem;
    color:black;
    
}
.blog{
    margin-top: 1rem;
    text-decoration: none;
    margin-right:1rem;
    color:black;
    
}
.contact{
    margin-top: 1rem;
    text-decoration: none;
    margin-right:1rem;
    color:black;
    
}

.header .links .about{
    margin-right:1rem;
    margin-top: 1rem;
    color:black;
}



 h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
.title{
    width:100%;
    border-bottom:1px dashed black; 
    margin-top: 1rem;
    margin-left: 10%;
    
}

.title p{
    margin-bottom: 1rem;
}

button{
    background-color: white;
    color: black;
    border-radius: .5rem;
    font-size:1rem;
    margin-top: 2rem;
    padding:.5rem;
    transition: .5s;
}
button:hover{
    background: black;
    color: white;
    border-radius: .5rem;
    font-size:1rem;
    margin-top: 2rem;
    padding:.5rem;
}
.title p{
    
    margin-right:15%;
} 
.overall-points{
    margin-left:10%;
    display:flex;
    flex-direction:column;
} 
.rowone{
    display:flex;
    flex-direction:row;
    border-bottom:1px dashed black; 
    margin-bottom:1rem;
}  
.rowtwo{
    display:flex;
    flex-direction:row;
    border-bottom:1px dashed black; 
    margin-bottom:1rem;
}
.point-one{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.point-two{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.point-three{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.point-four{
    margin-top:1rem;
    margin-bottom: 1rem;
}

.outro{
    margin-left: 10%;
}
footer {
    width: 100%;
    background: black;
    margin-left:10%;
    margin-top: 3%;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
